<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrefetchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6121CCEC1F2C2CA1009F04B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6121CD051F2C2CA1009F04B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6121CD101F2C2CA1009F04B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
